build/
*.elf
*.bin
*.hex
*.map
*.o
*.d
stm32_sender/build/
esp32_s3_gateway/build/
esp32_client/build/
sdkconfig
sdkconfig.old
dependencies.lock
.ninja_deps
.ninja_log
CMakeCache.txt
CMakeFiles/

cmake_install.cmake
.vscode/
.idea/
*.swp
*~
*.suo
*.user
.DS_Store
Thumbs.db
ke_hoach.txt